@import 'variables';

.App-container {
  background-color: $backgroundApp;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card-container {
  background-color: $backgroundCard;
  width: 400px;
  box-shadow: 2px 2px 5px $shadow;
}

.Header {
  &-container {
    color: $titleColor;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
  }
  &-img {
    height: 10vmin;
    pointer-events: none;
    margin: 1rem;
    border-radius: 50%;
  }
}

.Main {
  &-container {
    height: 250px;
  }
  &-text {
    padding: 0 20px;
  }
}

.Footer {
  &-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  &-link {
    color: $shadow;
  }
}

.fa-heart {
  color: $heart;
}
